  .cover{
    background: url("../img/baseball.jpg") no-repeat center;
    background-size: cover;
    position: relative;
    z-index: 0;
    /* overflow: hidden; */
    height: 100vh;
  }

 #b1{
  font-weight: bold;
  font-size: 50px;
  margin: 20px 0px 0px 0px;
 }

 #b2{
   margin: 50px 0 10px 20px;
   font-weight: bold;
    }

  p{
    font-weight: bold;
    font-size: 35px;
    }

  #a1{
    margin: 50px 0 10px 20px;
  }

  #a2{
    margin: 20px 0 10px 20px;
  } 

  #a3{
    margin: 20px 0 10px 170px;
    font-size: 50px;
  } 
  
  .btn{
   margin: 25px 0 10px 330px;
  }