 body {
    background-color: #fafafa;
	
 }
 .container {
    width: 500px;
    height:380px;
    border: solid 1px #d1d1d1;
    margin: 0px auto 0px;
    padding: 20px;
    box-shadow: 0 0 8px rgba(0 , 0 , 0 , .4);
    background-color: #fff;
    border-radius: 10px; 
  }
	
 input{
   font-size: 1.2em;
   width: 100%;
   padding: 30px;
 }

 #a2{
   margin:30px auto 0px;
 }

 button{
   margin: 30px auto 0px;
 }

 p{
   margin: 50px auto 20px;
 }


